
<head>
  <title>Флэшкарточкер</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!--  <link rel="stylesheet" href="application.css">-->
</head>

<body>
<section id="container">

  <header class="clearfix">
    <h1>Флэшкарточкер</h1>
    <ul class="navigation-links">
      <li><a href="#">Все карточки</a></li>
      <li><a href="#">Добавить карточку</a></li>
    </ul>
  </header>

  <section>
    <p style="font-size: 22px;">
      Первый в мире удобный менеджер флеш-карточек. Именно так.
    </p>
  </section>

</section>
</body>
