<h1>Editing User</h1>

<p><%= simple_form_for @user do |f| %>
      <%= render partial: 'form', locals: {f: f, submit: 'update'} %>
  <% end %>
</p>

<%= link_to 'Show', users_path %> |
<%= link_to 'Back', cards_path %>
