<p id='notice'><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', @user, as: :user, url: user_path, method: :patch, html: { class: 'edit_user'} %> |
<%= link_to 'Back', users_path %>
