<h1>Translate card</h1>
<p><%= form_tag @card, :url => {:controller => "home", :action => "index"} do %>
      translated text: <%= text_field_tag :translated_text %>
      <%= submit_tag "check translation" %>
  <% end %>
</p>


