<h1>Translate card</h1>
<p>
  dutch text: <%= @card.translated_text %>
</p>
<p>
  <%= form_tag trainer_path(@card) do %>
      your translation: <%= text_field_tag :original_text %>
      <%= submit_tag "check translation"%>
  <% end %>
</p>


