<h1>Translate card</h1>
<p><%= form_tag @card do  %>
      <%= hidden_field_tag :original_text %>
      translated text: <%= text_field_tag :translated_text %>
    <%= submit_tag "check translation" %>
  <% end %>
</p>


