<h1>Translate card</h1>
<% if @card.empty? %>
    <b>no items in store</b>
<% else %>
<p>
  English translation: <%= @card.translated_text %>
</p>
<% end %>
<p>
  <%= form_tag trainer_path(@card) do %>
      your translation: <%= text_field_tag :original_text %>
      <%= submit_tag "check translation"%>
  <% end %>
</p>


