<h1>Translate card</h1>
<p><%= form_for @card do |f| %>
      <%= f.hidden_field :original_text %>
      translated text: <%= f.text_field :translated_text %>

    <%= f.submit "check translation" %>
  <% end %>
</p>


