<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
<section id="container">

  <header class="clearfix">
    <h1>Флэшкарточкер</h1>
    <ul class="navigation-links">
      <%= link_to "Все карточки", "cards" %>
      <%= link_to "Добавить карточку", "new" %>
      <%= yield %>
    </ul>
  </header>

  <section>
    <p style="font-size: 22px;">
      Первый в мире удобный менеджер флеш-карточек. Именно так.
    </p>
  </section>

</section>
</body>
</html>
