<h1>Translate card</h1>
<p><%= form_for @card do |f| %></p>
      <%= f.hidden_field :original_text %>
      <p>translated text: <%= f.text_field :translated_text %></p>

      <p><%= f.submit "check translation" %></p>
  <% end %>



