<% content_for :head do %>
    <%= stylesheet_link_tag 'new_card' %>
<% end %>
<h1>create new card</h1>
<p><%= form_for @card do |f| %>
      <%= render partial: "shared/form", locals: {f: f} %>
      <%= f.submit "Create flashcard", class: 'btn btn-success' %>
  <% end %>
</p>

