<% content_for :head do %>
    <%= stylesheet_link_tag 'new_card' %>
<% end %>
<h1>create new card</h1>
<p><%= form_for @card do |f| %>
      <%= render partial: 'form', locals: {f: f, submit: 'create'} %>
  <% end %>
</p>
