<h1>Editing Deck</h1>

<% content_for :head do %>
    <%= stylesheet_link_tag 'new_deck' %>
<% end %>
<h1>create new deck</h1>
<%= render partial: 'form', locals: { submit: 'submit' } %>
|</p>

<%= link_to 'Back', decks_path %>
