<% content_for :head do %>
    <%= stylesheet_link_tag 'new_deck' %>
<% end %>
<h1><%= t(:new_deck) %></h1>
<%= render partial: 'form', locals: { submit: t(:save) } %>
</p>

<%= link_to t(:back), decks_path %>
